/* hide google's translation feedback popup */
.goog-te-balloon-frame {
  display: none !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

/* hide google's top bar */
body {
  top: 0 !important;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

iframe.skiptranslate {
  display: none !important;
}

/* hide google's ugly dropdown */
.goog-te-combo {
  display: none;
}

/* hide google's branding banner if it shows */
.goog-te-banner-frame {
  display: none !important;
}

#google_translate_element {
  display: none !important;
}


#campaign {
	z-index: 0 !important;
}


.gbl-bg {
	background-color: rgba(0,0,50,0.9) !important;" /* semi-trans dark blue - rgba(0,0,50,0.9) */
}
.gbl-title-txt {
	align-items: center !important;
}
.gbl-title-img {
	width: 2.5em !important; 
	height: 2.5em !important;
}
.gbl-link-orange50 {
	color: rgba(255,255,255,1) !important; /* white */
	text-decoration: underline !important;
	transition:
		color 0.25s ease;
}
.gbl-link-orange50:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	cursor: pointer !important;
}
.gbl-link-ltblue {
	color: rgba(255,255,255,0.5); /* semi-trans white */
	text-decoration: underline !important;
	transition:
		color 0.25s ease;
}
.gbl-link-ltblue:hover {
	color: rgba(25,25,255) !important; /* lighter blue */
	cursor: pointer !important;
}


.trans-link-orange50 {
	color: rgba(255,255,255,0.5) !important; /* semi-trans white */
	text-decoration: underline !important;
	transition:
		color 0.25s ease;
}
.trans-link-orange50:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	cursor: pointer !important;
}


#mvp-fireworks {
    z-index: 1 !important; /* < mvp-main */
	position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none !important;
}
#mvp-fireworks canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none !important; /* double tap */
}


#mvp-main{
	z-index: 2 !important; /* #campaign < #mvp-fireworks < #mvp-main < psa-info */
}

#mvp-county-search {
	background-color: rgba(0,0,0,0.75) !important; /* trans black */
	color: rgba(255,255,255,1) !important; /* white */
	border: 0.05em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
	border-radius: 2em !important;
	width: 100% !important;
	transition:
		background-color 0.5s ease,
		transform 0.2s ease !important;
}
#mvp-county-search:hover {
	background-color: rgba(0,0,0,1) !important; /* black */
	transform: scale(1.1) !important;
}
#mvp-county-search:focus {
	outline: 0.1em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
}
#mvp-county-search::placeholder {
	color: rgba(255,255,255,1) !important; /* white */
	font-weight: normal !important;
}
#mvp-county-results li {
	text-decoration: underline !important;
	transition:
		color 0.25s ease,
		transform 0.125s ease !important;
}
#mvp-county-results li:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	transform: scale(1.325) !important;
	cursor: pointer !important;
}


#var1-main {
	z-index: 2 !important; /* #campaign=0 < #mvp-fireworks=1 < #var1-main=2 < psa-info=? */
}
#var1-image {
	opacity: 50% !important;
	border: 0.25em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
	border-radius: 2em !important;
	width: 20% !important;
	transition:
		opacity 0.5s ease,
		transform 0.2s ease !important;
	;
}
#var1-image:hover {
	opacity: 100% !important;
	transform: scale(1.05) !important;
}
@media screen and (max-width: 768px) {
	#var1-image {
		width: 50% !important;
	}
}


#psa-vr-bg {
	background-color: rgba(0,0,50,0.9) !important;" /* semi-trans dark blue - rgba(0,0,50,0.9) */
}

#psa-vr-main{
	z-index: 2 !important; /* > psa-vr-fireworks */
}

#psa-vr-fireworks {
    z-index: 1 !important; /* < psa-vr-main */
	position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none !important;
}

#psa-vr-fireworks canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none !important; /* double tap */
}

#psa-vr-cta {
	color: white !important;
	text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.5) !important;
	font-size: 1.25em !important;
	border-radius: 2em !important;
	border: 0.125em solid blue !important;
	background-color: rgba(0,0,255,0.65) !important; /* trans blue - rgba(0,0,255,0.65) */
	transition:
		background-color 0.5s ease !important,
		transform 0.25s ease !important;
}

#psa-vr-cta:hover {
	background-color: rgba(0,0,255,1) !important; /* blue */
	transform: scale(1.125) !important;
}

#psa-vr-county-search {
	width: 100% !important;
	border-radius: 2em !important;
	border: 0.05em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
	background-color: rgba(0,0,0,0.75) !important; /* trans black */
	color: rgba(255,255,255,1) !important; /* white */
	transition:
		border 0.5s ease,
		background-color 0.5s ease,
		transform 0.25s ease !important;
}

#psa-vr-county-search:hover {
	background-color: rgba(163,114,1,0.75) !important; /* semi-trans has-warning-25 orange */
	transform:
		scale(1.1) !important;
}

#psa-vr-county-search:focus {
	outline: 0.1em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
}

#psa-vr-county-search::placeholder {
	color: rgba(255,255,255,1) !important; /* white */
	font-weight: normal !important;
}

#psa-vr-county-results li {
	transition:
		color 1s ease,
		transform 0.25s ease !important;
}

#psa-vr-county-results li:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	transform: scale(1.325) !important;
	cursor: pointer !important;
}