/*.mvp {
	opacity: 0% !important;
}*/

.mvq {
	opacity: 100% !important;
}

#mvp-bg1>.modal-background {
	background-color: rgba(0,0,50,0.9) !important;" /* semi-trans dark blue - rgba(0,0,50,0.9) */
}

#mvp-bg2>.modal-background {
	background-color: rgba(46,3,12,0.9) !important;" /* semi-trans dark red - rgba(46,3,12,0.9) */
}

#mvp-bg3>.modal-background {
	background-color: rgba(0,0,0,0.9) !important;" /* semi-trans black */
}

#mvp-bg4>.modal-background {
	background-color: rgba(0,56,48,0.9) !important;" /* semi-trans dark green - rgba(0,56,48,0.9) */
}

#mvp-main h2 {
	align-items: center !important;
}

#mvp-main img {
	width: 2.5em !important; 
	height: 2.5em !important;
}

#mvp-county-search {
	background-color: rgba(0,0,0,0.5) !important; /* trans black */
	color: rgba(255,255,255,1) !important; /* white */
	border: 0.05em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
	border-radius: 2em !important;
	width: 100% !important;
	transition:
		background-color 0.5s ease,
		border 0.5s ease,
		transform 0.2s ease !important;
}

#mvp-county-search:hover {
	background-color: rgba(0,0,0,1) !important; /* semi-trans has-warning-25 orange */
	transform: scale(1.1) !important;
}

#mvp-county-search:focus {
	outline: 0.1em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
}

#mvp-county-search::placeholder {
	color: rgba(255,255,255,1) !important; /* white */
	font-weight: normal !important;
}

#mvp-county-results li {
	transition:
		color 1s ease,
		transform 0.125s ease !important;
}

#mvp-county-results li:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	transform: scale(1.325) !important;
	cursor: pointer !important;
}

.mvp-open-info {
	color: rgba(255,255,255,0.5) !important; /* trans white */
	text-decoration: underline !important;
	transition:
		color 0.25s ease;
}

.mvp-open-info:hover {
	color: rgba(154,109,2,1) !important; /* has-warning-35 orange */
	cursor: pointer !important;
}

#psa-vr-bg {
	background-color: rgba(0,0,50,0.9) !important;" /* semi-trans dark blue - rgba(0,0,50,0.9) */
}

#psa-vr-main{
	z-index: 2 !important; /* > psa-vr-fireworks */
}

#psa-vr-fireworks {
    z-index: 1 !important; /* < psa-vr-main */
	position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    pointer-events: none !important;
}

#psa-vr-fireworks canvas {
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none !important; /* double tap */
}

#psa-vr-cta {
	color: white !important;
	text-shadow: 0.05em 0.05em 0.05em rgba(0,0,0,0.5) !important;
	font-size: 1.25em !important;
	border-radius: 2em !important;
	border: 0.125em solid blue !important;
	background-color: rgba(0,0,255,0.65) !important; /* trans blue - rgba(0,0,255,0.65) */
	transition:
		background-color 0.5s ease !important,
		transform 0.25s ease !important;
}

#psa-vr-cta:hover {
	background-color: rgba(0,0,255,1) !important; /* blue */
	transform: scale(1.125) !important;
}

#psa-vr-county-search {
	width: 100% !important;
	border-radius: 2em !important;
	border: 0.05em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
	background-color: rgba(0,0,0,0.75) !important; /* trans black */
	color: rgba(255,255,255,1) !important; /* white */
	transition:
		border 0.5s ease,
		background-color 0.5s ease,
		transform 0.25s ease !important;
}

#psa-vr-county-search:hover {
	background-color: rgba(163,114,1,0.75) !important; /* semi-trans has-warning-25 orange */
	transform:
		scale(1.1) !important;
}

#psa-vr-county-search:focus {
	outline: 0.1em solid rgba(245,171,0,1) !important; /* has-warning-50 orange */
}

#psa-vr-county-search::placeholder {
	color: rgba(255,255,255,1) !important; /* white */
	font-weight: normal !important;
}

#psa-vr-county-results li {
	transition:
		color 1s ease,
		transform 0.25s ease !important;
}

#psa-vr-county-results li:hover {
	color: rgba(245,171,0,1) !important; /* has-warning-50 orange */
	transform: scale(1.325) !important;
	cursor: pointer !important;
}

.psa-info-nav {
	color: rgba(255,255,255,0.5); /* semi-trans white */
	text-decoration: underline !important;
	transition:
		color 0.25s ease;
}

.psa-info-nav:hover {
	color: rgba(25,25,255) !important; /* lighter blue */
	cursor: pointer !important;
}