.hero {
	background-position: center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.hero-foot {
	background-color: rgba(0,0,0,.75) !important; 
	padding-top: 1em !important;
}

.hero-foot>.container>.columns {
	margin-bottom: 0em !important;
}

.foot-icon {
	color: rgba(255,255,255,.5) !important; 
	transition: color .5s !important;
}

.foot-icon:hover {
	color: rgba(255,255,255,1) !important;
}

.title {
	font-family: 'Momo Trust Display' !important; 
	color: rgba(255,255,255,1) !important;
	text-shadow: .15em .15em .15em rgba(0,0,0,.5) !important;
}

.subtitle {
	font-family: 'Merriweather' !important; 
	color:rgba(255,255,255,1) !important;
	margin-bottom: .75em !important;
}

.button-style {
	color: yellow !important;
	border-width: 0 !important;
	background-color: rgba(0,0,255,.75) !important;
	transition: background-color .5s !important;
	font-family: 'Momo Trust Display' !important;
}

.button-style:hover {
	background-color: rgba(0,0,255,1) !important;
}

.link {
	color: orange !important;
	transition: color .5s !important;
}

.link:hover {
	color: white !important;
}

.press {
	opacity: 70% !important;
	transition: opacity .5s !important;
}

.press:hover {
	opacity: 100% !important;
}
hr {height: .01em !important; background-color: rgba(255,255,255,.75) !important;}