.font-1 {
	font-family: 'Montserrat' !important;
}

.link {
	color: orange !important;
	transition: color 0.25s ease !important;
}

.link:hover {
	color: blue !important;
}

/* navbar start */

.navbar {
    position: fixed !important;
    top: 0 !important; /* stick to top */
	left: 0 !important;
	width: 100% !important;
    z-index: 100 !important; /* make sure it floats above content */
    background-color: rgba(255,255,255,0) !important; /* transparent white */
}

.logo {
	background-color: white !important;
	transition: transform 0.25s ease !important;
}

.logo:hover {
	transform: scale(1.25) !important;
}

.anchor {
	color: white !important; /* campaign blue */
	transition: color 0.25s ease, background-color 0.25s ease, transform 0.25s ease !important;
}

.anchor:hover {
	color: white !important;
	background-color: rgba(31,31,73,1) !important; /* campaign blue */
	transform: scale(1.1) !important;
}

.donate {
	color: white !important;
	background-color: rgba(0,255,0,1) !important;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25) !important;
	transition: transform 0.25s ease !important;
	font-weight: 800 !important;
}

.donate:hover {
	transform: scale(1.1) !important;
}

.navbar-burger span {
    background-color: rgba(31,31,73,1) !important; /* campaign blue transparent */
}

.navbar-menu.is-active {
    background-color: rgba(31,31,73,1); /* campaign blue */
}

@media (max-width: 1023px) {
  .navbar-menu .navbar-item i {
    margin-right: 0.5em; /* space between icon & text on mobile */
  }
}

/* navbar end */

/* hero start */

.b-color {
	color: rgba(255,255,255,1) !important;
}

.b-title {
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.75) !important;
	margin-bottom: 0.2em !important;
}

.b-title-for {
	font-family: 'Island Moments' !important; 
	text-shadow: 0.05em 0.05em 0em rgba(0,0,0,1) !important;
}

.b-subtitle {
	text-shadow: 0.05em 0.05em 0em rgba(0,0,0,1) !important;
	margin-bottom: 0.75em !important;
}

.b-button {
	border-width: 0 !important;
	background-color: rgba(0,255,0,0.75) !important; /* green transparent */
	transition: background-color .5s ease, transform .25s ease !important;
	font-weight: 800 !important;
	text-shadow: 0.1em 0.1em 0.1em rgba(0,0,0,0.25) !important;
}

.b-button:hover {
	background-color: rgba(0,255,0,1) !important; /* green */
	transform: scale(1.15) !important;
}

/* hero end */

/* about start */

#about {
	background-color: rgba(255,255,255,1) !important;
}

/* about end */

/* media start */

#media {
	background-color: rgba(31,31,73,1) !important; /* campaign blue */
}

/* media end */